<% if Current.user.present? == false %>
  <div class="background__index d-flex flex-column justify-content-center align-items-center">
    <div class="card bg-transparent shadow border-0 p-3">
      <h1 class="fw-bold display-2 text-center mb-4" style="position: relative; color: white;">Kingston School of Sciences</h1>
      <p class="h4 text-white text-center" style="position: relative;">Please Sign Up or Log In to file applications for admissions</p>
      <div class="d-flex gap-3 w-100 mt-5 justify-content-center align-items-center">
        <%= link_to "Log In", sign_in_path, class: "log_in__index shadow w-100 text-center" %>
        <h3 class="text-white">OR</h3>
        <%= link_to "Sign Up", sign_up_path, class: "sign_up__index shadow w-100 text-center" %>
      </div>
    </div>
  </div>
<% elsif Current.user.present? == true %>
  <div id="user-id" data-user-id="<%= Current.user.id %>" class="d-flex justify-content-end">
    <div class="p-3 mt-3" style="border-radius: 0.5rem; width: 350px;
        background: linear-gradient(to right bottom, rgba(246, 211, 101, 0.8), rgba(253, 160, 133, 0.8));">
        <h3 class="mb-4">Notifications</h3>
        <ul id="notify">
        <% if @notification.nil? != true %>
          <% @notification.each do |notification| %>
            <li><h5 class="mb-3"><%= notification.message %></h5></li>
          <% end %>
        <% end %>
        </ul>
    </div>
  </div>
<% end %>